<h1>短網址產生器</h1>
<form action="/" method="POST">
  <div class="input">
    <label for="inputURL" class="form-label">請輸入你的網址</label>
    <input type="text" class="form-control" id="inputURL" name="inputURL" placeholder="例如:http://www.google.com">
  </div>
  <div class="button">
    <button type="submit">產生短網址</button>
  </div>
  {{#if shortURL}}
  <div>
    <p>短網址產生成功!請用以下網址:</p>
    <a href="{{shortURL}}">{{shortURL}}</p>
  </div>
  {{/if}}
</form>